<section id="social">
<a href="https://github.com/GabiThume/">
    <div class="social-link">
          <img src="/images/icons/github.png" width="32" height="32">
</div>
</a>

    <a href="http://www.linkedin.com/in/gabithume">
<div class="social-link">
      <img src="/images/icons/linkedin.png" width="32" height="32">
</div>
    </a>

    <a href="https://www.facebook.com/gabithume">
<div class="social-link">
      <img src="/images/icons/facebook.png" width="32" height="32">
</div>
    </a>


<div class="social-link">
    <a href="http://tecendobits.tumblr.com/">
      <img src="/images/icons/tumblr.png" width="32" height="32">
    </a>
</div>

<div class="social-link">
    <a href="http://vimeo.com/gabithume">
      <img src="/images/icons/vimeo.png" width="32" height="32">
    </a>
</div>

<a href="mailto:gabithume@gmail.com">
    <div class="social-link">
          <img src="/images/icons/email.png" width="32" height="32">
</div>
</a>

<div class="social-link">
    <a href="atom.xml">
      <img src="/images/icons/rss.png" width="32" height="32">
    </a>
</div>

    <a href="https://plus.google.com/115961070759198455564/posts">
<div class="social-link">
      <img src="/images/icons/gplus2.png" width="32" height="32">
</div>
    </a>

    <a href="https://twitter.com/gabithume">
<div class="social-link">
      <img src="/images/icons/twitter.png" width="32" height="32">
</div>
    </a>

<div class="social-link">
    <a href="http://instagram.com/gabithume#">
      <img src="/images/icons/instagram.png" width="32" height="32">
    </a>
</div>


<div class="social-link">
    <a href="http://pinterest.com/gabithume/following/">
      <img src="/images/icons/pinterest.png" width="32" height="32">
    </a>
</div>


<div class="social-link">
    <a href="https://delicious.com/gabithume">
      <img src="/images/icons/delicious.png" width="32" height="32">
    </a>
</div>
</section>
